

body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1{
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

h2 {
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.5;
}

h3 {
    font-size: 1.5rem;
    font-weight:900;
}

p {
    color: #8f8f8f;
}

.container-fluid {
    padding: 7% 15%;
}

/* Navigation Bar */

.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 400;
}

/* Download Button */

.download-button {
    margin: 5% 3% 5% 0;
}

/* Title section */

#title .container-fluid {
    padding: 3% 15% 7%;
    text-align: left;
    background-color: #ff4c68;
    color: #f4f4ff;
}

/* Title image */

.title-image-box {
    position: relative;
}

.title-image {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

/* Feature */

#features {
    background-color: #fff;
    position: relative;
}

.feature-box {
    padding: 5%;
}

.feature-box > i {
    font-size: 5.5rem;
    color: #ef8172;
}

.feature-box > i:hover{
    color: #ff4c68;
}

.feature-box > p {
    font-size: 1.2rem;
}

/* Testimonial Section */

#testimonials {
    background-color: #ef8172;
    color: #fff;
}

.testimonial-image{
    width: 10%;
    border-radius: 50%;
    margin: 20px;
}

/* Press section */

#press {
    padding-bottom: 3%;
    background-color: #ef8172;
    color: #fff;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 15px;
}

/* Carousel */

.carousel-control-next-icon {
    margin-top: 9rem;
    width: 30%;
    height: 30%;
}

.carousel-control-prev-icon {
    margin-top: 9rem;
    width: 30%;
    height: 30%;
}

/* Pricing Section */

#pricing {
    padding: 100px;
}

.pricing-column {
    padding: 3% 2%;
}

.card-footer {
    border-top: none;
    padding-bottom: 5%;
}

.card-body {
    padding-bottom: 0;
    margin-bottom: 0;
}


/* Call to action */

#cta {
    background-color: #ff4c68;
    color: #fff;
}


#footer {
    padding: 5% 15% 3%;
}

.icon-box > i {
    margin: 1rem;
}

/* will trigger when viewport width lesser than 1028px */
@media (max-width: 1028px) {

    #title {
        text-align: center;
    }

    .title-image {
        width: 50%;
        transform: none;
        position: static;
    }
}

