body {
  font-family: 'Montserrat';
}

#title {
 background-color: #ff4c68;
 color: #fff;
}

.container-fluid {
  padding: 3% 15%;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

/* Navigation bar */
.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat';
  font-weight: 200;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  align-items: center;
}

/* Features */
#features {
  text-align: center;
  padding: 7% 15%;
}

.feature-title {
  font-size: 'Montserrat';
  font-size: 1.5rem;
  padding-top: 1rem;
  font-weight: Bold;
}

.feature-info {
  font-size: 'Montserrat';
  color: #8f8f8f;
}

.feature-img {
  color: #ef8172;
}

.feature-box {
  padding: 5%;
}
.icon:hover {
  color: #ff4c68;
}