body {
    font-family: 'Montserrat';
}

#title {
    background-color: #ff4c68;
    color: white;
}

h1 {
    font-family: 'Montserrat-black', sans-serif;
    size: 3.5rem;
    line-height: 1.5;
}

.container-fluid {
    padding: 3% 15%;
}

/* Navigation bar */
.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: "Montserrat-Light";
    font-size: 1.2rem;
}

/* Never target the default bootstrap classes in custom CSS. */

/* Download buttons */
.download-button {
    margin: 5% 3% 5% 0;
}

/* title image */
.title-image {
    width: 60%;
    transform: rotate(25deg);
}

/* features */
#features {
    padding: 7% 15%;
}

.features-icon {
    color: #ef8172;
    margin-bottom: 1.2rem;
}

/* Change the colour of an element based on its hoverstate */
.features-icon:hover {
    color: #ff4c68;
}

.features-title {
    font-family: "Montserrat-Bold";
    font-size: 1.5rem;
    text-align: center;
}

.features-subtitle {
    color: #8f8f8f;
    text-align: center;
}

.features-column {
    text-align: center;
    padding: 5%;
}