body {
  font-family: "Montserrat";
}
h2 {
  font-family: "Ubuntu";
  line-height: 2.5rem;
  font-weight: bold;
  font-size: 2rem;
}
#title {
  background-color: #ff4c68;
}
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}
#press {
  background-color: #ef8172;
  padding: 3% 0% 7%;
  text-align: center;
}
.carousel-item {
  padding: 7% 15%;
}
.meet {
  font-family: "Montserrat";
  color: #FFF;
  font-size: 3.5rem;
  line-height: 1.5;
}
.container-fluid {
  padding: 3% 15%;
}
.title-image {
  transform: rotate(22.5deg);
  width: 60%;
}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 3.5rem;
  font-weight: bold;
}
.navbar {
  padding-left: 0px;
  padding-bottom: 4.5rem;
}
.nav-item {
  padding: 0 18px 18px 0;
}
.nav-link {
  font-family: "Montserrat-Light";
  font-size: 1.2rem;
  font-weight: bold;
}
.download-button {
  margin: 5% 3% 5% 0%;
}
h3 {
  font-weight: bold;
  font-family: "Montserrat";
}
p {
  font-size: 16px;
}
.icon-center {
  align-content: center;
}
.col-lg-4 {
  align-items: center;
}
#features {
  margin: 7% 15%;
}
.feature-box{
  text-align: center;
  padding: 5%;
}
.icon {
  color: #ef8172;
}
.icon:hover {
  color: #ff4c68;
}
.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.press-logo {
  width: 15%;
  margin: 20px 20px;
}
