body {
  font-family: 'Montserrat';
}

#title {
 background-color: #ff4c68;
 color: #fff;
}

.container-fluid {
  padding: 3% 15% 7%;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}

/* Navigation bar */
.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat';
  font-weight: 200;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title image */
.title-image {
  position: absolute;
  width: 30%;
  transform: rotate(25deg);
}

/* Features */
#features {
  text-align: center;
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}

.feature-title {
  font-size: 'Montserrat';
  font-size: 1.5rem;
  padding-top: 1rem;
  font-weight: Bold;
}

.feature-info {
  font-size: 'Montserrat';
  color: #8f8f8f;
}

.feature-img {
  color: #ef8172;
}

.feature-box {
  text-align: center;
  padding: 5%;
}
.icon:hover {
  color: #ff4c68;
}

/* Testimonial section */
#testimonials {
  background-color: #ef8172;
  color: #fff;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  text-align: center;
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing section */
#pricing {
  text-align: center;
  padding: 100px;
}

.pricing-column {
  padding: 3%
}

/* CTA section */
#cta {
  background-color: #ff4c68;
  color: #ffff;
  padding: 7% 15%;
  text-align: center;
}

.cta-heading {
  font-size: 'Montserrat';
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Footer */
#footer {
  padding: 7% 15%;
  text-align: center;
}

.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {
  #title {
   text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
    width: 60%;
  }
}