body {
    font-family: 'Montserrat';
}

#title {
    background: #ff4c68;
    color: #fff;
}

.container-fluid {
    padding: 3% 15%;
}

h1 {
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.5;
}

/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: 'Montserrat';
    font-size: 1.2rem;
    font-weight: 300;
}


 /* Download Buttons */

 .download-button {
     margin: 5% 3% 5% 0;
 }

 /* Title Image */

 .title-img {
    width: 60%;
    transform: rotate(25deg);
 }